Node Red Code.json
[{"id":"3049aa67.b14a26","type":"particle-SSE","z":"a8d594c.6090368","pcloud":"","subscribetype":"devid","devprodslug":"wolfhack07","devid":"","evtname":"Help","strict":0,"x":150,"y":160,"wires":[["dab2ba92.e54318","7eb442c8.2d288c","ed594b71.87ecf8","31e83608.ffad1a"]]},{"id":"505871f8.fa8be","type":"twilio out","z":"a8d594c.6090368","twilio":"3bed5956.d3beb6","twilioType":"sms","url":"","number":"","name":"Send a Text","x":750,"y":160,"wires":[]},{"id":"447fc24b.289d3c","type":"particle-func","z":"a8d594c.6090368","pcloud":"","devid":"wolfhack07","fname":"Vibes","param":"","productIdOrSlug":"","repeat":0,"once":false,"x":490,"y":260,"wires":[[]]},{"id":"2632efd.224af1","type":"function","z":"a8d594c.6090368","name":"Text Contents","func":"var name = global.get(\"name\");\nvar lat = global.get(\"lat\");\nvar lon = global.get(\"lon\");\nvar acc = global.get(\"acc\");\nmsg.payload = name + \" is in danger!\\n\\nClick this link to get directions to their location:\\nhttps://www.google.com/maps/search/?api=1&query=\"+ lat + \",\" + lon + \"\\n\\nNote: the accuracy of the location may vary. We calculate that \" + name + \" is in a \" + acc + \" meter radius from that specific location.\";\nmsg.topic = global.get(\"Number\");\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["505871f8.fa8be"]]},{"id":"5d084003.7762","type":"webhookrelay","z":"a8d594c.6090368","buckets":"Test","x":100,"y":260,"wires":[["fe02efc4.cef49"]]},{"id":"fe02efc4.cef49","type":"function","z":"a8d594c.6090368","name":"Vibe Trigger","func":"msg.topic = \"param\";\nmsg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":260,"wires":[["447fc24b.289d3c"]]},{"id":"db6a0643.fbed28","type":"ui_text_input","z":"a8d594c.6090368","name":"","label":"Enter Emergency Contact Number:","tooltip":"Don't include parentheses or dashes","group":"9d4a7c7c.46df9","order":4,"width":"0","height":"0","passthru":true,"mode":"tel","delay":"0","topic":"","x":160,"y":420,"wires":[["2a941b45.f3e294"]]},{"id":"2a941b45.f3e294","type":"function","z":"a8d594c.6090368","name":"Global Variable \"Number\"","func":"global.set(\"Number\", msg.payload);\nmsg.payload = global.get(\"Number\");\nreturn msg","outputs":1,"noerr":0,"x":470,"y":420,"wires":[["edf97bd0.c02088"]]},{"id":"4985cb42.b82254","type":"inject","z":"a8d594c.6090368","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":200,"wires":[["fe02efc4.cef49"]]},{"id":"edf97bd0.c02088","type":"function","z":"a8d594c.6090368","name":"Phone Number Converter","func":"var x = global.get(\"Number\");\nmsg.payload =\"(\" + x.substring(0,3) + \") \" + x.substring(3,6) + \"-\" + x.substring(6);\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":480,"wires":[["6fce9737.06be38"]]},{"id":"6fce9737.06be38","type":"ui_text","z":"a8d594c.6090368","group":"9d4a7c7c.46df9","order":5,"width":0,"height":0,"name":"","label":"Emergency Contact:","format":"{{msg.payload}}","layout":"col-center","x":380,"y":480,"wires":[]},{"id":"6e38ba6.ee2c444","type":"comment","z":"a8d594c.6090368","name":"Text Message Formatter & Sender","info":"The function node sets what phone number to text to\nby using msg.topic.\n\nIt also formats the text of the message using \nmsg.payload.\n\nWhen the Photon is triggered, it sends the event\n\"Help\", which triggers the variable functions that \ncheck the value of each cloud variable and sets the \nglobal Node Red variables equal to the value of each\ncloud variable.\n\nThe function node then uses the values of these\nglobal variables to format the text message. The\nname variable uses the name given from the\nDashboard's text input to put the name in the text\nmessage. The lat and lon variables take the values\ncalculated by the Geolocation services in the \nPhoton's code and input them in the Google Maps\nquery link, which basically tells Google Maps to\npin point that specific latitude and longitude\nwhen the link is clicked. The accuracy variable\nis another feature of the Geolocation services.\nIt basically gives the radius of the area in\nwhich the Photon is located, because WiFi\ngeolocation isn't extremely accurate. The \ngeolocation basically works by finding nearby\nWiFi networks and triangulating the Photon's\nlocation based on the location of the WiFi\nnetworks.","x":140,"y":120,"wires":[]},{"id":"e42f6c28.6b79d","type":"comment","z":"a8d594c.6090368","name":"Reply Trigger","info":"In Twilio, you can set what action is performed when\nthe number receives a text message. I set it to POST,\nwhich means it will send all the info regarding\nthe recieved text to a specific link, which is known\nas a webhook. \n\nThis first node helps extract the \ninformation sent to the webhook, and is triggered\nwhen it detects that something is sent to the\nwebhook. I used that trigger to send a message to\nthe cloud function vibes, which triggers the \nvibration motor.","x":690,"y":260,"wires":[]},{"id":"f2f6c374.d27f9","type":"comment","z":"a8d594c.6090368","name":"On/Off Switch","info":"This flow is pretty self explanatory, but basically\ndepending on the on or off state of the switch,\na 1 or 0 is sent to the Activation function that I\ncoded in Particle.\n\nThis function helps control whether or not the code\nis run on the Particle Photon.\n\nNote: Please make sure that the payload you're\nsending to the function is a String if you made it\nthat way, and not a number. I may or may not have\ncrashed the Dashboard multiple times because I sent\nthe numbers 1 or 0 instead of the String versions.","x":510,"y":340,"wires":[]},{"id":"803619b8.d787a8","type":"comment","z":"a8d594c.6090368","name":"Contact Number Input","info":"In this flow, the blue node is a text input node,\nwhich allows the user to open the Dashboard and\nenter a phone number (without spaces or dashes).\n\nThe numbers that are inputted are stored in a global\nvariable, which is then used for setting msg.topic\nin the Text Message Formatter & Sender flow, which\nin turn sets the phone number that the text is sent\nto.","x":720,"y":420,"wires":[]},{"id":"b8ad9542.fa3de8","type":"comment","z":"a8d594c.6090368","name":"Emergency Contact Number Display","info":"This part of the flow just helps the user know what\nphone number the device is set to text to. \n\nThe function node is used to add parentheses and \ndashes to the phone number that was entered, so that\nits readable to the user. Then that formatted number\nis sent to the text node, which displays it in the\nDashboard.","x":640,"y":480,"wires":[]},{"id":"7eb442c8.2d288c","type":"particle-var","z":"a8d594c.6090368","pcloud":"","devid":"wolfhack07","getvar":"Longitude","productIdOrSlug":"","repeat":0,"once":false,"x":440,"y":80,"wires":[["403ff5e9.c9181c"]]},{"id":"ed594b71.87ecf8","type":"particle-var","z":"a8d594c.6090368","pcloud":"","devid":"wolfhack07","getvar":"Accuracy","productIdOrSlug":"","repeat":0,"once":false,"x":430,"y":120,"wires":[["af25f8e0.224b48"]]},{"id":"dab2ba92.e54318","type":"particle-var","z":"a8d594c.6090368","pcloud":"","devid":"wolfhack07","getvar":"Latitude","productIdOrSlug":"","repeat":0,"once":false,"x":430,"y":40,"wires":[["9f8d8612.2ad3f8"]]},{"id":"9f8d8612.2ad3f8","type":"function","z":"a8d594c.6090368","name":"Latitude Variable","func":"global.set(\"lat\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":40,"wires":[[]]},{"id":"403ff5e9.c9181c","type":"function","z":"a8d594c.6090368","name":"Longitude Variable","func":"global.set(\"lon\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":80,"wires":[[]]},{"id":"af25f8e0.224b48","type":"function","z":"a8d594c.6090368","name":"Accuracy Variable","func":"global.set(\"acc\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":120,"wires":[[]]},{"id":"31e83608.ffad1a","type":"delay","z":"a8d594c.6090368","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":160,"wires":[["2632efd.224af1"]]},{"id":"647ce246.0864cc","type":"ui_text_input","z":"a8d594c.6090368","name":"","label":"Enter Your Name Here:","tooltip":"Capitalize please!","group":"9d4a7c7c.46df9","order":2,"width":"0","height":"0","passthru":true,"mode":"text","delay":"0","topic":"","x":150,"y":540,"wires":[["a6d0bd4e.69e8f"]]},{"id":"a6d0bd4e.69e8f","type":"function","z":"a8d594c.6090368","name":"Name","func":"global.set(\"name\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":540,"wires":[["355951f1.d36f9e"]]},{"id":"355951f1.d36f9e","type":"ui_text","z":"a8d594c.6090368","group":"9d4a7c7c.46df9","order":3,"width":0,"height":0,"name":"","label":"Your Name:","format":"{{msg.payload}}","layout":"col-center","x":490,"y":540,"wires":[]},{"id":"f830ade1.0feff","type":"particle-func","z":"a8d594c.6090368","pcloud":"","devid":"wolfhack07","fname":"Activation","param":"","productIdOrSlug":"","repeat":0,"once":false,"x":280,"y":340,"wires":[[]]},{"id":"5eb1c897.c09e18","type":"ui_switch","z":"a8d594c.6090368","name":"","label":"On/Off","tooltip":"","group":"9d4a7c7c.46df9","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"param","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":70,"y":340,"wires":[["f830ade1.0feff"]]},{"id":"e9b093cb.e6e4","type":"comment","z":"a8d594c.6090368","name":"Name Input","info":"This flow is also pretty self explanatory, but\nbasically the text input is used to type in your\nname, which is then sent to the function node.\n\nThe function node creates a global variable called\nname that saves the name that the user inputs, so\nthat it can be used in the text message later on.","x":650,"y":540,"wires":[]},{"id":"3bed5956.d3beb6","type":"twilio-api","z":"","name":"606A","sid":"AC96312326e97710e8e6e86df0a8065ab9","from":"14086175526"},{"id":"9d4a7c7c.46df9","type":"ui_group","z":"","name":"606A","tab":"e4bf64f1.4540f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"e4bf64f1.4540f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
